.itemBody{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 100%;
}
.itemSection{
    justify-content: flex-start;
    flex-grow: 1;
}
.itemContainer{
    justify-content: flex-end;
    flex-grow: 3;
}